extends layout

block content
    mixin h1("Speakers")
    each speaker in speaker_ids
        - data = speakers[speaker]
        .speakerSec
            img(src="/images/speaker-#{speaker}.png")
            .speakerInfo
                a(name="#{speaker}", class="speakerAnchor") &nbsp;
                .name= data.name
                .projects
                    each project in data.projects
                        div= project 
                h3 Abstract
                .abstract !{data['abstract']}
                h3 Bio
                .bio !{data['bio']}
